{% extends "base.html" %}
{% block title %}
    <title>moviechart</title>
{% endblock %}
{% block content %}
    <div class="col-4 m-auto border bg-light border-4 mt-5 p-3">
        <h3 class="text-center text-warning">Moviechart Form</h3>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="add" class="btn btn-secondary col-5">
            <input type="reset" value="cancel" class="btn btn-secondary float-end col-5">
        </form>
    </div>
{% endblock %}
</html>